*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

ul {
	list-style-type: none;
}

.hidden {
	display: none;
}

body{
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

#clock{
	font-size: 120px;
	display: flex;
	text-shadow: 0 0 30px rgba(0,0,0,1);
}

h1{
	text-shadow: 0 0 30px rgba(0,0,0,1);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

h2{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

button{
	padding: 5px 10px;
	margin-left: 8px;
	border-style: none;
	border-radius: 15px;
}

input {
	border-style: none;
	padding: 5px 10px;
	border-radius: 15px;
}

#todo-form input {
	margin-top: 10px;
	width: 230px;
}

#quote{
	justify-content: center;
	margin-top: 30px;
	text-shadow: 0 0 30px rgba(0,0,0,1);
}

#quote span {
	display: block;
	margin-top: 5px;
}

#weather{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
	text-shadow: 0 0 30px rgba(0,0,0,1);
	font-size: 20px;
}

#weather span:last-child {
	margin-left: 15px;
}